body{
background-image: url("syracuselogo.png");
background-repeat: repeat;
background-color: blue;
margin:0;
padding:0;
}

p{
    background-color: #f4a460;
    color:#ffffff;
    border: 3px solid #ff5733;
    padding: 20px;
    width: fit-content;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;

}